body {
  font-family: 'Libre Baskerville', serif;
  margin:0 !important;
}

@font-face {
  font-family: "manifesto";
  src: url("../fonts/manifesto.ttf");
}
h1 {
  font-size: 80px;
  margin:0;
  color:white;
  background-color:black;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 9px;
  font-weight: bold;
  position:relative;
  font-family : "manifesto";
}


#introduction {
  line-height: 30px;
  font-size: 17px;
  padding: 20px 90px;
  text-align:left;
  margin:0;
}

#photo-mama {
  display:block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius:4px;
}

#section04 a {
  padding-top: 60px;
}
#section04 a .span-home {
  position: absolute;
  top:70%;
  left: 50%;
  width: 35px;
  height: 35px;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#list {
  margin:0;
  color:white;
  background-color:black;
  padding:20px 90px;
  text-align:left;
}
#intro-list{
  display:block;
  text-align:center;
}

#signature{
  display:block;
  text-align:right;
}
ul{
  padding:0;
}

li {
  list-style: none;
  line-height: 30px;
}
.icons {
  text-align:center;
}
.far, .fas {
  font-size:35px;
}


h3{
  border-bottom:1px solid black;
  padding-bottom:15px;
}

.footer {
  padding:20px;
  display:flex;
  flex-direction:column;
  line-height:30px;
  align-items:center;
}

.soutiens{
  display:flex;
  flex-wrap:wrap;
  text-align:center;
}

.soutiens>* {
        flex: 1 1 33%;
        padding:2px;
    }

a {
  text-decoration:none;
  color:black;
}
a:hover {
  text-decoration: underline;
  font-weight:bold;
}
@media (min-width: 300px) and (max-width: 320px) {
    #introduction {
      padding:40px 15px;
      line-height:19px;
    }
    #photo-mama {
      height:250px;
      width:250px;
    }

    .soutiens{
      flex-direction:column;
    }
    .soutiens>*{
      flex:auto;
      text-decoration:underline;
    }

    #list{
      padding:40px 15px;
    }

  }

 @media (min-width: 321px) and (max-width: 414px) {
    #introduction {
      padding:40px 15px;
      line-height:24px;
    }
    #photo-mama {
      height:250px;
      width:250px;
    }

    .soutiens{
      flex-direction:column;
    }
    .soutiens>*{
      flex:auto;
      text-decoration:underline;
    }

    #list{
      padding:40px 15px;
    }

  }
   @media (min-width: 568px) and (max-width: 812px) {
    #introduction {
      padding:40px 20px;
      line-height:24px;
    }
    #photo-mama {
      height:250px;
      width:250px;
    }
    .soutiens{
      flex-direction:column;
    }
    .soutiens>*{
      flex:auto;
      text-decoration:underline;
    }
    #list{
      padding:40px 20px;
    }
  }
     @media (min-width: 768px) and (max-width: 834px) {
    body {
      max-width:834px;
    }
    #introduction {
      padding:40px 15px;
      line-height:24px;
    }
    #photo-mama {

      height:250px;
      width:250px;
    }
    .soutiens{
      flex-direction:column;
    }
    .soutiens>*{
      flex:auto;
      text-decoration:underline;
    }
    #list{
      padding:40px 15px;
    }
  }
       @media (min-width: 1024px) and (max-width: 1112px) {
    #introduction {
      height:auto;
      padding:40px 12px;
      line-height:24px;
    }
    #photo-mama {

      height:250px;
      width:250px;
    }
    .soutiens>*{
      text-decoration:underline;
    }

  }
