body {
  font-family: 'Libre Baskerville', serif;
  margin:0 !important;
}

@font-face {
  font-family: "manifesto";
  src: url("../fonts/manifesto.ttf");
}
h1 {
  font-size: 80px;
  margin:0;
  color:white;
  background-color:black;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 9px;
  font-weight: bold;
  position:relative;
  font-family : "manifesto";
}


#introduction {
  line-height: 30px;
  font-size: 17px;
  padding: 20px 80px;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  height:100vh;
  margin:0;
}

#photo-mama {
  display:block;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  border-radius:4px;
}

#section04 a {
  padding-top: 60px;
}
#section04 a .span-home {
  position: absolute;
  top:70%;
  left: 50%;
  width: 35px;
  height: 35px;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#list {
  margin:0;
  color:white;
  background-color:black;
  padding:40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

li {
  list-style: none;
  line-height: 30px;
}
.icons {
  text-align:center;
}
.far, .fas {
  font-size:40px;
  animation: rotate 5.5s linear infinite;
}
@keyframes rotate{
  to{ transform: rotate(360deg); }
}

#signature {
  text-align:right;
}
.first-part {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  border-right:1px solid black;
  padding:0 70px;
}
.second-part {
  display:flex;
  flex-direction:column;
}
.footer {
  padding:20px;
  display:flex;
  justify-content: space-around;
  align-items:center;
  line-height:30px;
}
a {
  text-decoration:none;
  color:black;
}
a:hover {
  text-decoration: underline;
}
 @media (min-width: 320px) and (max-width: 414px) {
    #introduction {
      height:auto;
      padding:40px 12px;
      line-height:24px;
    }
    #photo-mama {

      height:200px;
      width:200px;
    }
    .footer {
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content: center;
    }
    .first-part {
      border:none;
    }
    .second-part {
      justify-content: center;
      align-items: center;
    }

  }
   @media (min-width: 568px) and (max-width: 812px) {
    #introduction {
      height:auto;
      padding:40px 12px;
      line-height:24px;
    }
    #photo-mama {

      height:200px;
      width:200px;
    }
  }
     @media (min-width: 768px) and (max-width: 834px) {
    body {
      max-width:834px;
    }
    #introduction {
      height:auto;
      padding:40px 12px;
      line-height:24px;
    }
    #photo-mama {

      height:200px;
      width:200px;
    }
  }
       @media (min-width: 1024px) and (max-width: 1112px) {
    #introduction {
      height:auto;
      padding:40px 12px;
      line-height:24px;
    }
    #photo-mama {

      height:200px;
      width:200px;
    }
  }
